<section class="row">
  <div class="col">

    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval=false>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <h3>Welcome! Answer a few questions to see what IT role you are best suited for. </h3>
          <button class="btn btn-success btn-lg btn-block" href="#carouselExampleControls"role="button" data-slide= "next">Start!
            <span class="carousel-control-next"></span>
          </button>
        </div>
        {{#each survey.data.questions}}
        <div class="carousel-item">
          <div class="container">
            <section class="row">
              <h3>{{text}}</h3>
            </section>
            <section class="row">
              <h5>{{instruction}}</h5>
            </section>
            <section class="row">
            {{#each buttons}}
              <div class="col-6">
                <button class="btn btn-success btn-lg btn-block" href="#carouselExampleControls"role="button" data-slide= "next">{{label}}
                  <span class="carousel-control-next"></span>
                </button>
              </div>
            {{/each}}
            </section>
          </div>
        </div>
        {{/each}}
      </div>
    </div>

  </div>
</section>
