<section class="row">
  <div class="col">

    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval=false>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <h3>Welcome! Answer a few questions to see what IT role you are best suited for. </h3>
        </div>
        {{#each survey.data.questions}}
        <div class="carousel-item">
          <h3>{{text}}</h3>
        </div>
        {{/each}}
      </div>
    </div>

  </div>
</section>
