<section class="row">
  <div class="col">

    <form>

      <div class="form-row">
        <div class="col">
          <input type="text" class="form-control form-control-lg" placeholder="Hakusana...">
        </div>
      </div>

    </form>

  </div>
</section>

<section class="row">
  <div class="col">

    <ul id="results">
      
    </ul>

  </div>
</section>
