<section class="row">
  <div class="col">

    <form>

      <div class="form-row">
        <div class="col">
          <input type="text" id="searchInput" class="form-control form-control-lg" placeholder="Hakusana...">
        </div>
      </div>

    </form>

  </div>
</section>

<section class="row">
  <div class="col">

    <div id="alert-no-results" class="alert alert-light" role="alert">Tällä haulla ei löytynyt tuloksia.</div>

    <ul id="results">

    </ul>

  </div>
</section>


<script type="text/javascript" src="/javascripts/search.js"></script>
