body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

header {
  font-family: 'Poppins', sans-serif;
}

h1 {
  text-align: center;
  color: #008000 !important;
}

h3 {
  color: #008000 !important;
  font-family: 'Poppins', sans-serif !important;
}

h4 {
  text-align: center;
}

h5 {
  font-family: 'Poppins', sans-serif !important;
}

a {
  color: #00B7FF;
}

header {
  margin-bottom: 50px;
}

.carousel-item .row {
  margin-top: 20px;
}

.carousel-item button {
  margin-bottom: 15px;
  font-family: 'Raleway', sans-serif;
}

button img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    width: 100px;
}

hr {
  width:100%;
  height:1px;
  background: #fff;
}

.boxed {
  margin-bottom: 30px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.boxed h3 {
  padding-top: 10px;
}
.boxed h3 span {
  border: 3px solid green;
  padding: 10px;
}

.profileHeader {
  text-align: center;
  color: #000000 !important;
}

.subheader {
  margin-top: 25px;
  color: #000000 !important;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}

.description {
  margin-top: 50px;
  margin-bottom: 30px;
  line-height: 1.5;
  font-family: 'Raleway', sans-serif;
  text-align: left;
  color: #000000 !important;
}

.zero {
  margin-top: 30px;
  text-align: left;
  font-style: italic;
  color: #008000;
}
.first {
  margin-top: 10px;
  text-align: center;
  font-style: italic;
  color: #008000;
}

.second {
  margin-top: 15px;
  text-align: right;
  font-style: italic;
  color: #008000;
}

#firstStory {
  margin-top: 20px;
  font-family: 'Raleway', sans-serif;

}

#alert-no-results {
  display: none;
}

#timer {
  padding-left: 10px;
}
