body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1 {
  text-align: center;
  color: #008000 !important;
}

h3 {
  color: #008000 !important;
}

h4 {
  text-align: center;
}

a {
  color: #00B7FF;
}

.carousel-item .row {
  margin-top: 20px;
}

.carousel-item button {
  margin-bottom: 15px;
}

button img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    width: 100px;
}

.boxed {
  border: 3px solid green;
  width: 200px;
  margin-bottom: 30px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.profileHeader {
  margin-top: 50px;
  text-align: center;
  color: #000000 !important;
}

#alert-no-results {
  display: none;
}

#timer {
  padding-left: 10px;
}
