body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1 {
  text-align: center;
  color: #008000 !important;
}

h4 {
  text-align: center;
  color: #4B0082;
}

a {
  color: #00B7FF;
}

section {
  border-top: 1px solid #EEE;
  margin-top: 50px;
  padding-top: 20px;
}

section:first-of-type {
  border: none;
  margin-top: 0;
}

#alert-no-results {
  display: none;
}
.carousel-item p {
  color: #00B7FF;
}
