body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1 {
  text-align: center;
  color: #008000 !important;
}

h4 {
  text-align: center;
  color: #4B0082;
}

a {
  color: #00B7FF;
}

.carousel-item .row {
  margin-top: 20px;
}

.carousel-item button {
  margin-bottom: 15px;
}

#alert-no-results {
  display: none;
}
